.main-posts header {
  background-color: #F5F5F5;
  color: #2988BC;
}



.main aside {
  text-align: center;
  margin: auto;
  padding: 5em;
  width: 60%;
  float: initial;
  background-color: #ED8C72;
}

.main-posts {
  text-align: center;
  margin: 5em;
}

.main-posts p {
  font-size: 1.5em;
  text-align: left;
}

.main-posts pre {
  text-align: left;
}

.main-posts ul {
  font-size: .1.25em;
  list-style: none;
  font-weight: bold;
}
